[Unit]
Description=TheIPTV auto-update service
After=network.target docker.service

[Service]
Type=oneshot
ExecStart=/usr/bin/env bash /opt/theiptv/scripts/update_and_restart.sh
User=root
Group=root

[Install]
WantedBy=multi-user.target
